*{
    font-family: "Arial", "Heveltica Neue", Helvetica, sans-serif;
}

h2
{
    font-family: "Georgia", Times, "Times New Roman", serif;
    color: teal;
}

.headbox{
    background-color:white;
    margin: 0 0 25px 0;
    padding:50px 100% 50px 100%;
    width:960px;
    float:left;
}

.top
{
    color:gray;
    background-color:white;
}

.tophead
{
    background-color: teal;
    color:white;
    font-family: "Georgia", Times, "Times New Roman", serif;
    float:left;
    position: absolute;
    left: 200px;
    padding: 20px;
    margin: 0px;
    top: 25px;
}

body
{
    background-image: url("../images/leaves-pattern.png");
}

div{
    float:right;
}